[2013-09-12 19:32] meoblast001 opened #1 "Window in Eclipse to Display Eye Status"
Once the plug-in is enabled and tracking begins, a button should be enabled to "View Eye Status". Once clicked, a new window is opened which displays where the eyes are appearing in the tracker's field of view and validity of each eye. Each eye should be represented as a circle in the window and should become more green when validity is high, and more red when validity is low.

[2014-09-15 06:26] seresl opened #2 "Tracking for project outline view"
Keep track of when eye gaze falls on the project outline view in Eclipse.

[2014-09-15 06:51] shbonita opened #3 "Display calibration accuracy"
After calibration, the user should have a chance to see the quality of the calibration.

[2014-09-15 06:54] shbonita opened #4 "Capture eye gaze on opening and closing brace"
The data files should specify if the eye gaze landed on { or }.  Since this is only 1 character in length a bounding box or smoothing function on eye gaze data may need to be applied.

[2014-09-15 14:20] #1 closed, assigned to nobody

[2014-09-15 14:27] meoblast001 opened #5 "Improve Calibration GUI"
Currently: A circle with a dot in it is shown at different parts of the screen.
Desired: A circle within another circle should appear. The sizes should change in a documented way to encourage the stakeholder's eyes to focus. After processing that calibration point, the position should interpolate to the next position.

[2014-09-15 14:36] meoblast001 opened #6 "Create Update Site"
Make iTrace packagable so that an update site can be made.

[2014-09-15 14:41] meoblast001 opened #7 "Log Runtime Information"
Create a logging subsystem which the application uses to log runtime information. This subsystem should be able to be enabled or disabled.

[2014-09-15 14:48] shbonita opened #8 "Online Smoothing of Eye gazes"

[2014-09-17 14:04] shbonita opened #9 "Line Height and Font Height is 0 is CSV and XML exports"
Actual: In the environment tag, the line height and font height is reported as 0.
Expected: The correct line height and font height should be reported here as given by Eclipse.

Here is a snapshot of what is currently being exported.
<environment>
<screen-size width="1920" height="1080"/>
<line-height>0</line-height>
<font-height>0</font-height>
</environment>

[2014-09-17 14:06] shbonita opened #10 "Line Height and Font Height is 0 is JSON and XML exports"
Actual: In the environment tag, the line height and font height is reported as 0.
Expected: The correct line height and font height should be reported here as given by Eclipse.

Here is a snapshot of what is currently being exported.
![capture](https://cloud.githubusercontent.com/assets/1062232/4304796/cc8575e6-3e73-11e4-9a53-b6c6b02ecb84.PNG)

[2014-09-17 14:08] #9 closed, assigned to nobody

[2014-10-10 03:02] shbonita opened #11 "IllegalStateException thrown when opening a Java file."
After I start tracking, every time I double click a Java file from the project explorer, it pops up an error message dialog box saying "source not specified" and throws the exception below.

There are no gazes recorded in the gaze files after the tracking is stopped.  Only the top header information is available.

Here is the exception thrown.
!ENTRY org.eclipse.ui.workbench 4 2 2014-10-06 11:59:2

[2014-10-20 14:15] #11 closed, assigned to nobody

[2014-10-22 19:35] meoblast001 opened #13 "Support for Code Folding"
Currently code folding is not supported in iTrace. If lines 2 through 24 are folded into one line, and the user looks at line 25, the recorded line number will be 3.

[2015-02-04 10:37] #10 closed, assigned to nobody

[2015-02-26 13:52] shbonita opened #15 "export start and end line number for code statements"
We should be able to tell if an SCE spans 1 line or multiple lines. Right now the format that is output does not give us any information about whether a statement is on one line or spans multiple lines.

[2015-02-26 13:56] shbonita opened #16 "XML data export format change request"
The way the data is currently exported in XML needs to be revised.  For example, fullyqualifiedname is an attribute of a gaze and uses semicolons to separate entities. Instead, we should think about changing the format to be more hierarchical and more intuitive. This will also help further data analysis.

[2015-05-13 17:55] shbonita opened #17 "system mouse tracker error"
The system mouse tracker cannot connect to tracker on latest version of Eclipse (Luna)

[2015-05-13 17:56] #8 closed, assigned to nobody

[2015-05-13 19:23] tshaffe1 opened #18 "Remove Functional Java dependency"
Functional Java appears in a handful of places, but as used here it's mostly just a syntactic quirk. Removing these few instances would make the code easier to read for others and remove a largely unused build dependency.

[2015-05-14 15:54] jennalwise opened #19 "No Error Handling in startTracking method of ControlView"
Within the startTracking method of Control view, we check whether an error occurs during the request tracker process. However, we do not address this error. We return without a warning message.

Also, no warning if sleeping method doesn't work in GazeTransport. No warning if can't stop tracking in SystemMouseTracker

[2015-05-16 01:42] #18 closed, assigned to nobody

[2015-05-16 17:05] jennalwise opened #21 "Button on iTrace controller that pops up a box to enter the profile/session info."
As requested by Dr. Sharif:

"How is the user entering their profile or session information?  Can we have a button on the iTrace controller that pops up a box to enter the information?"

[2015-05-18 16:49] #17 closed, assigned to nobody

[2015-05-18 16:52] jennalwise opened #23 "Calibration and display of calibration output."
As per-request by Dr. Sharif via email. Needs elaboration.

[2015-05-18 17:00] jennalwise opened #24 "Fixation generation incorporated into iTrace"
I will write a basic fixation filter implemented on the post-processed gaze data. I will create a button that will run the fixation filter on the currently collected session data and export a new file with processed gazes.

Or the button can pop up a file selection menu to run the filter on any one file selected at a time with the appropriate extensions .xml or .json.

[2015-05-21 14:12] #3 closed, assigned to nobody

[2015-05-28 02:25] #21 closed, assigned to nobody

[2015-06-07 02:13] #23 closed, assigned to nobody

[2015-06-07 02:14] #24 closed, assigned to nobody

[2015-06-08 07:45] relrod opened #28 "Needs license"
Excellent to see that iTrace is now open source! @shbonita would you mind adding a license file? As-is (due to copyright law), the code defaults to "look but don't touch" which isn't very inviting :(.

[2015-06-08 16:20] shbonita commented on #28
Added GPL license. If this resolves the issue, we can close it.

[2015-06-08 17:56] relrod commented on #28
Works for me!

[2015-06-08 17:56] #28 closed

[2015-06-10 23:37] jennalwise opened #29 "Rework merging of raw gazes into fixations"
I need to rethink how we merge some of the raw gaze data into fixations (especially with the new gaze data Tim created). The way it is done now is okay, but it needs improvement in the future.

[2015-08-12 00:58] jennalwise opened #30 "Connect EyeX controller to iTrace using C++ API"

[2015-08-22 21:42] jennalwise opened #31 "Error in EyeXTracker Code"
I keep getting the following error when running the jni code I wrote for the Tobii EyeXTracker:

[code]

Here is the error report file:

[code]

[2015-08-24 15:23] shbonita commented on #31
@jennalwise where in the process does this run time error occur? Is @meoblast001 looking into a possible solution?  otherwise we need to look at alternatives since we need to get this working by this Friday for the live demo.

[2015-08-24 16:05] jennalwise commented on #31
This happens when trying to connect to the eye tracker.  I think this might have been due to the threading I was doing incorrectly. I have since fixed the threading, but I haven't tested it to see if it fixed the error. I am doing testing later today and in the meantime Braden is going to take a look at the threading.

[2015-08-24 19:12] meoblast001 commented on #31
Are you sure this is on branch issue30? I can't find jniConnectEyeXTracker in edu.ysu.itrace.trackers.EyeXTracker, which appears in your debug output.

[2015-08-24 19:33] jennalwise commented on #31
It's in branch gazeSDK off of branch issue30

[2015-08-24 21:14] meoblast001 commented on #31
I can't guarantee my findings are very good because I have limited experience with EyeX, but I think I found some possible problems.

It looks like the tobiigaze_connect_async procedure depends on tobiigaze_stop_video_stream_async (it calls that then fails), but I see no place where video is started. The first thing I would look at is to make sure nothing is expecting video to be started when it a

[2015-08-25 02:21] jennalwise commented on #31
I also came to that same conclusion. I made some adjustments so that the main thread sleeps for a while to let the background thread catch up. Also, there were some other issues I had to address to make the background thread work nicely with the main thread. It seems that the video_stream_async stuff happens when creating the eye tracker or when creating the event loop. If this stuff isn't done co

[2015-08-25 02:21] jennalwise commented on #31
Thanks for taking a look at my code Braden!!!!!!!

[2015-08-25 14:07] meoblast001 commented on #31
If this is a race condition, a sleep is a horrible "solution" to the problem. The problem with a race condition is that two threads must reach some point and it cannot be predicted when they will. Sleeping for a constant amount of time to let the other one "catch up" will increase the likelihood of the code working, but if the system is under heavy load or the operating system preempts a thread at

[2015-08-28 00:01] jennalwise commented on #31
I fixed the threading issue with a "production ready" solution (or one that is in my opinion "production ready"). Don't worry it does not involve sleeping. Feel free to take a look at it if you want.

[2015-08-28 00:01] #31 closed

[2015-08-28 00:06] jennalwise commented on #30
Because we are running out of time to get the EyeX running for Italy, I wanted to note that I am making a not "production ready" solution to fix the calibration. Right now the calibration UI must wait until receiving the go ahead from the native code's calibration callback function to continue on to the next data point (instead of moving after 2ms) or the EyeX tracker will throw an error and then

[2015-08-28 00:13] jennalwise commented on #30
I lied. The problem is when your eyes wonder off the screen during calibration not during saccades. So disregard the comment I made previously.

[2015-08-28 07:58] jennalwise commented on #30
I forgot to send the notification... Forget my earlier ramblings. The calibration crashes randomly inside the tobii gaze API function for adding a new calibration point. The UI even waits until this function is complete and successful for the previous point before calling this function again with a new point. I will take a look at it again with fresh eyes tomorrow and probably change my reasonings

[2015-08-29 01:29] jennalwise opened #32 "Cannot cast FileStoreEditorInput to IFileEditorInput"
This happens when you are editing a file in the launched eclipse application that is not loaded into your workspace.This makes it so that we cannot output gazes.

In the future we should add support for both files loaded into the workspace and for files not loaded into the workspace (if it is possible).
If it is not possible, then it needs to be noted somewhere.

[2015-08-29 01:52] jennalwise commented on #30
When you press the start tracking button before letting the session info finish exporting bad stuff happens. Need to address this after the demo.

[2015-09-02 21:21] jennalwise opened #33 "Make all of the Java UI's always on top of the screen"
I need to make this happen. I keep putting it off. It should be as simple as making a parent Jframe and sending it to the JOptionPane. Some extra issues to deal with are excess windows popping up when this is done and the location of the frame is the top left corner (needs properly adjusted).

[2015-09-02 22:31] jennalwise commented on #30
output for the right pupil diameter should be 0 but it's spitting out garbage.

[2015-09-02 22:32] jennalwise commented on #30
DisplayCalibrationStatus doesn't work.

[2015-09-09 15:10] shbonita opened #34 "Track Stack Overflow Documents"
We would like to be able to track stack overflow documents within iTrace. We are interested in general areas that people look at.

[2015-09-09 15:11] shbonita opened #35 "Track Bug Reports"
We want to be able to track general areas in bug reports within iTrace.  We need to discuss what areas need to be tracked and the format of the data both for this and for stack overflow artifacts.

[2015-09-10 17:58] #19 closed

[2015-09-16 15:18] shbonita opened #37 "check and fix duplicate tracker ids."
It might be related to a rounding issue.

[2015-09-16 15:22] shbonita opened #38 "Save calibration information into the session folder"

[2015-10-14 15:16] capalmer1013 commented on #7
(this issue has been stolen)

[2015-10-23 20:12] jennalwise commented on #34
Making a note that
you need to open the internal web browser through the toolbar button, because it opens it in the editor as an editorPart not a view. Gazes will not be collected if the editor is opened as a view.

[2015-11-05 14:54] jennalwise opened #39 "Tracking for Project Outline View Part"
I know what to do.

[2015-11-05 17:21] jennalwise commented on #39
This is a duplicate.

[2015-11-05 17:21] #39 closed

[2015-11-18 18:18] shbonita commented on #16
This issue has been resolved.

[2015-11-18 18:19] #16 closed

[2015-11-18 18:19] shbonita commented on #15
This issue has been resolved with the new format change.

[2015-11-18 18:19] #15 closed

[2015-11-18 18:23] shbonita opened #41 "Enable JSON and XML checkboxes after Session Info data"
We should always have the JSON and XML data exporters selected after the session information is entered.

If a user forgets to select these checkboxes, gazes are not registered and it does not prompt you to check them before moving forward.

One way is to have them selected up-front as this is what we want all of the time anyway.

[2015-11-20 17:47] jennalwise commented on #41
Done.

[2015-11-20 17:47] #41 closed

[2015-12-02 16:36] shbonita opened #42 "path does not match with name in response files"
This bug has been there for a while and needs fixing at some point. Take a look at the gaze response below.  The path should match with the name but it does not.  The name says t1.txt but the path shows the correct java file.

[code]

[2015-12-24 15:42] shbonita opened #43 "fixation filter statistics"
When generating fixations, we need to keep track of some statistics. For example:
- how many gaze records were discarded and not a fixation.
- how many fixations in total
- fixation filter information and preferences used.

[2015-12-28 22:18] jennalwise commented on #42
This is the problem and it also is the reason we were having all of that trouble with implementing gaze handling for the Project Explorer.
It turns out that the ControlView creates listeners for each part in the eclipse workbench. Every time a part is visible (invisible) the listener binds (unbinds) the partRef using the HandlerBindManager.bind method. The problem is, that method retrieves the wor

[2016-01-25 17:11] zwhile commented on #37
@meoblast001 on TobiiTracker.java lines 151 & 158 what is the significance/use of 5000 and 25000 in the while loops?

[2016-01-29 15:07] meoblast001 commented on #37
The `main` method only exists in this class for testing purposes. Those are concrete times that are used. Line 158 limits the execution time of the test to 25 seconds before it shuts down. Line 151 appears to be more or less a mock of a sleep (not really sure why I didn't use a `Thread.sleep` here...). In the first part (around line 151) the crosshair is being tested, and in the second part it sim

[2016-02-05 05:22] #34 closed

[2016-02-05 05:24] #42 closed

[2016-02-05 05:25] shbonita commented on #2
@jennalwise has this issue been resolved? I believe it has.  If so, can we close it?

[2016-02-05 05:32] shbonita opened #45 "fixation view on raw data"
the fixation filter should create two files 1) what it is currently doing i.e., a row for fixations and their corresponding duration. and 2) view fixations within the raw gaze.

For 2)
the raw gaze will have the following additional columns
fixation_index
fix_x
fix_y
duration

[2016-02-05 06:35] jennalwise commented on #2
The problem that we were having with Tim's code for this issue should be resolved now. We still need to test it and merge it. Then the issue will be resolved.

[2016-02-13 19:54] jennalwise opened #46 "comment names blank"
When comments from the java source code files are exported they are blank.
If the comment begins with slash star star and ends with star star slash then it will export the whole comment as the scename.
If the comment begins with "//" or begins with slash star and ends with star slash it will not export the whole comment as the scename. It exports "// " or "[slash star] [star slash]" respectively.

[2016-02-13 20:03] jennalwise opened #47 "xml file isn't always closed"
After looking at the .xml file data from the lengthy Kent study, I found that randomly many of the raw xml gaze files were missing the end of the file, ie.

</gazes>
</itrace-responses>

[2016-02-13 20:48] shbonita commented on #47
I noticed this happening when I was testing it. However, I could not reproduce it.

[2016-02-28 23:51] bpprox22 commented on #30
Updated the title to reflect that we aren't using the C# API anymore.

[2016-02-28 23:52] bpprox22 commented on #30
I created an eyeXTracker branch based on the issue30 branch to avoid collisions with Ben or Jenna working on this issue.

[2016-03-18 22:14] bpprox22 opened #48 "Track UML Class Diagrams"
We need the ability to track eye movements on UML class diagrams.

[2016-04-02 17:04] shbonita commented on #32
For now, this is a future enhancement and not a bug. We could support non-workspace files in the future if there is a compelling reason to do so.

[2016-05-10 23:40] shbonita opened #49 "support for gaze on separate words in a compound word identifier"
A requested feature from Washington State University: If your variable was "countNumVariables" we would need to separate the eye gaze information for "count", "Num", and "Variables".

[2016-05-29 13:57] onebenclark opened #50 "Change time format in data."
Change the time attributes in the data from tracker time, system time and nano time to a yyyy-mm-dd hh-mm-ss.mmm timestamp and milliseconds relative to the start of the session.

[2016-05-30 17:30] shbonita opened #51 "Display some identification of gaze events in status bar"
Display some identification such as time in the status bar.  This will help with syncing with screen recordings.

[2016-06-09 23:15] onebenclark opened #52 "Rework the stabilization method for gazes received from the Tobii Tracker."

[2016-06-10 01:54] onebenclark opened #53 "Rework the stabilization method for gazes received from the Tobii Tracker."

[2016-06-10 02:17] #53 closed

[2016-06-10 22:28] onebenclark commented on #4
This could be handled by checking the length of the gaze's line's content when nothing is registered. If the line is one or two chars long check and the x position is within a certain range from the content on the x -axis register the gaze as looking at the content.

[2016-06-11 20:25] shbonita commented on #47
We had this happen with JSON as well. When this happens and the fixation filter is run on the file missing end tags, it will cause an error such as "Could not read data" to occur.

[2016-06-14 13:02] shbonita opened #54 "Display eye status window"
This consists of a little window where you see the two eyes and a measure of how far the eyes are in cm. A bar going from green to red indicates how far the eyes are.

[2016-06-14 13:04] shbonita commented on #13
@nickiovino https://eclipse.org/articles/Article-Folding-in-Eclipse-Text-Editors/folding.html

[2016-06-14 13:06] shbonita opened #55 "General errors when trying to run iTrace"
!ENTRY org.eclipse.core.jobs 4 2 2016-02-29 11:38:25.278
!MESSAGE Unhandled error
!STACK 0
java.lang.OutOfMemoryError: PermGen space

!ENTRY org.eclipse.core.jobs 4 2 2016-02-29 11:38:26.394
!MESSAGE Unhandled error
!STACK 0
java.lang.OutOfMemoryError: PermGen space
Exception in thread "Worker-14"
!ENTRY org.eclipse.ui 4 0 2016-02-29 11:38:37.128
!MESSAGE Unhandled event loop exception
!STACK 0
ja

[2016-06-14 13:07] shbonita commented on #55
@nickiovino found the solution to this and it is mentioned below.

The main issue here seems to be that when Eclipse launches, it uses the JVM arguments set in eclipse.ini, including one to increase the max PermGen size to 256M.  However, when you run iTrace as an Eclipse Application (which opens a second copy of Eclipse to run it), it doesn't pass these arguments along to the second JVM, so it ge

[2016-06-14 14:25] shbonita commented on #37
@onebenclark could you let us know what you found for this one.

[2016-06-14 20:10] onebenclark opened #56 "Writing gaze session time to trim through org.eclipse.ui.menus."
Currently we are writing to the status bar through the control view or active editor. Since the active always has control of the status bar we have no control if the active is not the control view or an editor. We can get our section of the trim to write to with complete control through the org.eclipse.ui.menus extension point.
[http://help.eclipse.org/mars/index.jsp?topic=%2Forg.eclipse.platform.

[2016-06-15 16:40] shbonita commented on #35
@onebenclark did you fix this to include any bugzilla type of system?

[2016-06-15 16:42] shbonita opened #57 "validation data type"
Does the validation data type need to be double? If not, we can make it an integer.

[2016-06-15 16:43] shbonita commented on #46
@onebenclark could you test this to see if we are getting the same behavior that @jennalwise mentions above.

[2016-06-21 17:19] onebenclark commented on #35
I changed this to check the text of the page for the bugzilla namespace declaration common to all bugzilla pages instead of checking the url. This allows us to gather data from standard bugzilla pages. If this was the only concern this branch can be closed again.

[2016-06-21 17:22] shbonita commented on #35
yes if tested and merged to master, please close this issue.

[2016-06-21 17:23] #35 closed

[2016-06-21 18:24] onebenclark commented on #50
I believe this is ready to be merged minus one issue. I was using nanoTime set the nanoseconds in the timestamp but this is incorrect because System.nanoTime() is meant for judging elapsed time, like session_time, but is not relative to a specific time like System.currentTimeMillis(). Since we are operating in 16ms timeframe with the x60 can we leave the timestamp with ms precision even though And

[2016-06-22 18:27] shbonita commented on #50
Milliseconds should be fine for now.

[2016-06-22 18:55] shbonita commented on #46
comment body needs to be preserved verbatim. In other words, we should be able to generate the comment again exactly as it was in code using the information in the gaze data.

[2016-06-22 18:59] shbonita commented on #46
The how attribute needs to specify the kind of comment. i.e., multi-line, single-line, javadoc-multi-line

[2016-07-21 17:10] shbonita commented on #51
@onebenclark could you let us know how this is implemented?

[2016-07-21 17:13] shbonita commented on #50
@onebenclark is this issue complete?

[2016-07-21 17:14] shbonita commented on #57
we will leave this as double for now.

[2016-07-21 17:14] #57 closed

[2016-07-21 17:22] onebenclark commented on #37
This was occurring because the method newGazePoint was being called multiple times for the same data. The x and y positions for these "new" gaze were different from the previous because they are being averaged. To fix this we ignored the new gazes if they are within one ms of the previous gaze.

[2016-07-21 17:22] #37 closed

[2016-07-21 17:25] shbonita commented on #33
@onebenclark please comment on status.

[2016-07-22 02:11] onebenclark commented on #50
There are two new time attributes.
A timestamp with the form YYYY-MM-DDTHH:mm:SS.sss-00:00.
The session time is the time in nanoseconds since the Start Tracking button is pressed.
The older time attributes will be left in until removing them won't break something else.
This branch has been merged with master.

[2016-07-22 02:11] #50 closed

[2016-07-22 02:23] onebenclark commented on #51
Messages can be sent to the status bar through IActionBars and IStatusLineManager. ViewParts have a method to get the actionBars which have the statusLineManager. Only the active view has access to the status bar.
The session time of a gaze is written to the status bar when the gaze is added to the queue. The message is sent through the ControlView and the open editorPart. However if another view

[2016-07-22 02:23] #51 closed

[2016-07-22 03:19] onebenclark commented on #46
I put a xml file with fixed comment names. There is one issue that I need to work out before this is complete (code folding is once again out to get us).  I will also change the HOW attribute to fit the description above but it's not that way the new file.

[2016-07-23 05:43] shbonita opened #58 "highlight token when display cursor is on"
When the display cursor is on, highlight the token that is being looked at.  This can be done by placing a bounding box over the token. We can use the last 10 gazes to determine the token being looked at.

[2016-07-24 23:16] onebenclark commented on #46
I put an iTrace data file with the entirety of the comments' content in the dropbox. It is named comment_data_FIXED. Sorry I didn't complete that first sentence above.

[2016-07-26 02:12] onebenclark commented on #46
I implemented a fix by using the styledtext.getText( startOffset, endOffset ) method to set the name to the entirety of the comment.  ( This can be implemented with the other SCEs also which I think would be helpful. ) However this makes the cold folding issue more complicated because styledText uses widget offsets which means the folded SCEs get offset of -1 so getText returns null. This causes t

[2016-07-27 00:59] onebenclark commented on #58
@shbonita I will take this if you want me to.

[2016-07-27 01:51] shbonita commented on #58
@onebenclark yes thanks. This is high priority.

[2016-07-28 17:19] shbonita commented on #58
We should plot the eye gaze as little circles on the text and highlight the token when N gazes fall within the token area. N can be experimented with. We could start with 10.

[2016-07-28 17:20] shbonita opened #59 "refactor gaze distribution"

[2016-07-28 17:28] shbonita opened #60 "improve display calibration status window after calibration"
we need to know which of the nine points are good.

[2016-08-25 20:23] jennalwise opened #61 "Add session time support to the fixation filter"
Add session time support to the fixation filter.

[2016-08-25 22:14] onebenclark commented on #61
It won't just be the session time but also the new timestamp, which is a date and time attribute.

[2016-08-25 23:55] onebenclark commented on #30
@jennalwise iTrace can't find libEyeXTracker. Do you know what I need to add to the java build path?

[2016-09-01 19:52] jennalwise opened #63 "Modify raw gaze files to have associated fixation duration and id"

[2016-09-01 20:03] onebenclark commented on #59
Currently the GazeTransport provides a queue of gazes for each thread that needs gaze data. There have three instances where adding a new thread accessing the gazetransport has made itrace run sluggish and new feature wouldn't work. We should see if an event broker layout using the IEventBroker interfface would work better for us.

[2016-09-03 14:00] jennalwise commented on #30
I forgot to respond to this, but in case anyone runs into this in the future:

Make sure the libEyeXTracker.dll is in the root folder of iTrace after compiling it (you will have to move it manually).

[2016-09-03 15:49] onebenclark commented on #30
Okay, so I switch to the a 32 bit version of Eclipse, and it seemed to work briefly (I didn't get a chance to test with Eyex, but is wasn't throwing errors).
But then I updated the branch to match master and now it throws an Unsatisfied Link error and it can't find dependent libraries. I've tried several things but it still won't work. Any suggestions?

[2016-09-03 19:09] jennalwise commented on #30
I am also getting the same problem. I haven't update my branch with master either. Unfortunately, UnsatisfiedLinkErrors could be a lot of things, so I am working on finding the problem now. I will update you when I have a solution.

[2016-09-03 20:03] jennalwise commented on #30
Make sure the TobiiGazeSDK32.dll is also in your root. It didn't fix my problem, but you should still make sure that is in your iTrace root folder.

[2016-09-11 03:28] jennalwise opened #64 "NullPointerException when start tracking with no editor open"
When an editor window isn't open and you start tracking iTrace will throw a NullPointerException: java.lang.NullPointerException
	at edu.ysu.itrace.ControlView$1.runInUIThread(ControlView.java:157)

This is the problem line in ControlView:
PlatformUI.getWorkbench()
                		.getActiveWorkbenchWindow().getActivePage()
                			.getActiveEditor().getEditorSite().getActionBars()

[2016-09-11 03:39] onebenclark commented on #64
This was my mistake. This was introduced when I added the ability to print the session time to the status bar. I didn't think to test this without an editor open. I'll figure what to do about it.

[2016-09-11 04:39] onebenclark commented on #64
Okay I fixed it. I changed so that the statusLineManager in control view is set to the active editor's whenever it is activated or brought to the top. This is done through the control view's IPartListener2 methods.

[2016-09-12 15:04] shbonita opened #65 "add support for the gazepoint tracker"

[2016-09-16 14:14] shbonita commented on #13
This has been implemented in Issue# 46

[2016-09-16 14:28] shbonita commented on #2
Jenna said:
I found a problem with the handleGaze method and UIJob method in the ControlView. One of them is using Monitor bounds and the other is using the Screen bounds from somewhere else. These two bounds do not line up (screen bounds gives you the proper resolution for your screen and the other gives you like half those resolutions (it is the bounds for the rootshell in eclipse). I changed th

[2016-09-16 19:37] onebenclark opened #66 "Draw crosshair through graphics method."
The image used for a crosshair should be removed and a reticle drawn using the graphics utility.

[2016-09-16 19:39] onebenclark commented on #66
This issue was complete and merged with the issue 58 token highlighting branch.

[2016-09-16 19:39] #66 closed

[2016-09-16 19:41] onebenclark commented on #58
This issue is finished and merged

[2016-09-16 19:41] #58 closed

[2016-09-16 19:42] onebenclark commented on #30
This issue was merged with the issue 58 token highlighting branch.

[2016-09-16 19:42] #30 closed

[2016-09-22 01:31] #64 closed

[2016-09-25 14:50] jennalwise commented on #2
Using the Monitor bounds is the correct solution. This bug is only able to be reproduced on higher level displays/resolutions where Windows 10 recommends all text, apps, etc. be re-scaled by 200% (usually on 2560 x 1440 resolutions, ie. my laptop). This causes a discrepancy between the system's resolution and the resolution used by Eclipse (at 200% the resolution for Eclipse is re-scaled to 1280 x

[2016-09-25 17:34] jennalwise commented on #2
Found a problem with the browser editor not having an adaptable control. I need to spend some time figuring out how to retrieve the associated browser control from an editor part in the most painless way.

[2016-10-16 15:32] onebenclark opened #68 "Fix EyeX stuttering."
The EyeX has a severe stuttering problem. We believe that the problem is noise data that plots points outside of the bounds of the screen for one of the eyes. Most likely (0,0). This may be due to dead zones in the calibration.

[2016-10-16 16:45] onebenclark commented on #68
@shbonita Nick and I looked at this and found nothing obviously wrong with our calibration procedure to cause this. There may be something going wrong at a lower level that we can't change. Our proposed solution is to recognize and ignore noise data as it come's in from the tracker. If only one eye is generating noise, it's x and y are set to the other's x and y. This also fixes a bug where if one

[2016-10-19 19:14] onebenclark commented on #60
![newstatusscreen](https://cloud.githubusercontent.com/assets/15931124/19533648/a881c11e-960e-11e6-9b7d-aba29de87c77.png)

[2016-10-19 19:15] onebenclark commented on #60
Ignore the bad calibration.

[2016-10-28 00:14] onebenclark commented on #60
Added animated calibration. However with the eyex the calibration fails because of saying that there is not enough data, and with the x60 the stopcalibration call fails. I will keep working on it.
@jennalwise If you have any suggestions let me know.

[2016-10-28 14:30] shbonita commented on #60
@onebenclark did you check the tobii dev manual to see what they recommend.  There is a para or two listed I believe.

[2016-10-28 14:39] onebenclark commented on #60
@shbonita I have checked it and I'm following it as close as I can.

[2016-10-28 19:52] onebenclark commented on #60
We have figured it out. The use calibration point call expects ADSC points, where x and y are a value between 0.0 and 1.0. Long story short wasn't passing those when I thought I was.

[2016-10-31 00:21] jennalwise opened #69 "Token Highlighter NullPointerException"
When opening a browser editor this happens:

[code]

(not full stack trace)
These are the lines where the exception is thrown (problem line is starred):

[code]

It seems as though the TokenHighlighter is assuming that all editorParts supplied to it are styledTexts. The line: this.styledText = (StyledText) this.editorPart.getAdapter(Control.class); would set styledText to null if the EditorPart is

[2016-10-31 00:34] onebenclark commented on #69
A simple check should be sufficient. But it should be outside of the constructor so we are not creating TokenHighlighters for the wrong things. I don't think there need to be any changes inside the highlighter, just changes where we create them. I'll take a look tomorrow evening.

[2016-10-31 00:37] onebenclark commented on #69
It may be best to remove the editorPart member if it is not used other than to get the styledText. We could pass in the styledText to the constructor instead of the whole editorPart. I don't remember if it is needed of the top of my head.

[2016-10-31 00:40] onebenclark commented on #69
Yes I think we could remove the editorPart.

[2016-10-31 19:39] onebenclark commented on #69
@jennalwise Alright the branch issue69-HighlighterBrowserException has the fix implemented. I tested it and haven't gotten the exception you described, but if you could test it I'd appreciate it since you can better recreate the circumstances that caused it. Let me know, then I'll merge this with master.

[2016-10-31 19:43] jennalwise commented on #69
Okay thanks, I will test it tonight.

[2016-11-01 00:16] jennalwise commented on #69
No longer getting the error when opening a browser, however I am getting another NullPointerException when closing all EditorParts. It will not throw an exception with just a browser editor open or just a styledtext editor open, but it will when I close them all out. Also, on the next launch of the application the iTrace controller will not open due to this problem. You have to open an editor and

[2016-11-01 13:08] onebenclark commented on #69
I pushed up a fix to those exceptions. If there is anything else let me know.

[2016-11-03 04:03] onebenclark commented on #69
@jennalwise If you're okay with I will go ahead merge this into master.

[2016-11-03 14:01] jennalwise commented on #69
@onebenclark I haven't been able to test it. I won't get to it until tonight. If you feel that you've tested it enough and you aren't getting anymore NPEs then go ahead and merge it.

[2016-11-03 19:53] onebenclark commented on #52
Right now the gazes are stabilized by averaging them with previous ten gazes as they come in from the tracker. We should rethink this and decide whether there is a better method to stabilize.

[2016-11-03 20:08] onebenclark opened #72 "Test iTrace with TX300"
The tx300 needs to be tested with iTrace. To do this we need to set up one of the new computers with iTrace to work with the tobii tracker.

[2016-11-10 20:18] onebenclark opened #73 "Fix scaling issues on hi res screens."
Some of our windows aren't being scaled properly on hi res screens. We need to modify these so that they are displayed properly.

[2016-11-10 20:21] onebenclark opened #74 "Test iTrace with hi res screens."
We need to find any issues caused by high res screens in iTrace. Most importantly gaze mapping, but we also need to find unknown errors.

[2016-11-16 20:22] onebenclark commented on #69
The fix for this bug has been merged into master.

[2016-11-16 20:22] #69 closed

[2016-12-01 21:55] lmvitullo commented on #48
Here is the stack trace of the NoClassDefFoundError:
@onebenclark  @nickiovino  @shbonita

!ENTRY org.eclipse.ui 4 4 2016-11-30 22:53:38.998
!MESSAGE An internal error has occurred.
!STACK 0
java.lang.NoClassDefFoundError: edu/ysu/onionuml/ui/graphics/figures/ClassFigure
	at edu.ysu.itrace.ClassMLManager.getUMLE(ClassMLManager.java:269)
	at edu.ysu.itrace.gaze.handlers.ClassMLGazeHandler.handleGaz

[2016-12-09 17:34] onebenclark commented on #73
To work around this, keep dpi at 100%

[2016-12-09 17:36] onebenclark commented on #68
Included with Pull request #60

[2016-12-09 17:39] onebenclark commented on #60
Waiting on Pull request.

[2016-12-09 17:41] onebenclark commented on #54
Waiting on #59

[2016-12-09 17:45] onebenclark commented on #49
The styledText may have useful methods for doing this.

[2016-12-09 17:52] onebenclark commented on #46
Waiting on pull request.

[2016-12-09 17:55] onebenclark commented on #33
This is fixed for the calibration window with #60.

[2016-12-09 17:56] onebenclark commented on #32
We want to send a message to the console when this occurs asking them to import the file into the workspace.

[2016-12-09 17:59] onebenclark commented on #29
@jennalwise  Can you elaborate on the status of this?

[2016-12-09 17:59] onebenclark commented on #13
Waiting on pull request.

[2016-12-15 19:07] onebenclark opened #75 "Mavenize iTrace"
Add a Maven pom.xml for build automation.

[2016-12-15 19:08] onebenclark opened #76 "Set up Travis CI"
Set up continuous integration with Travis CI.

[2016-12-22 16:44] shbonita opened #77 "UI for fixation filter preferences"

[2016-12-22 16:57] onebenclark commented on #32
[Console output redirected to file:C:\Users\Ben\iTraceOutput.txt]
SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [bundleresource://957.fwk27533828:1/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [bundleresource://957.fwk27533828:2/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: See http://www.slf4j.org/codes.html#multiple_bindings for an explanation.

[2016-12-22 17:01] jennalwise commented on #77
Parameters can be found in the BasicFixationFilter.java file:
They are:
r //sliding window parameter
radius
durationThresh //cut off for length of fixation duration to keep the fixation

[2016-12-22 17:08] shbonita commented on #77
The algorihtm currently used is at https://pdfs.semanticscholar.org/4167/7844556582adc68a5a14dbb1cea0b28d9016.pdf

[2016-12-22 17:08] onebenclark commented on #32
Check if file is in workspace before casting, if it isn't output "Please load file into workspace"

[2016-12-22 17:28] shbonita commented on #75
@nickiovino consider using gradle if possible.

[2016-12-29 16:19] shbonita opened #78 "Project setup issues"

[2016-12-29 16:26] onebenclark commented on #78
Unsatisfied Version Constraint:
This occurs when a feature was developed on a newer version of eclipse. To fix this remove the error causing dependency and replace it with the older version of eclipse.

[2016-12-29 16:30] onebenclark opened #79 "Tracking in the Search View Part"
We would like to get Search View Part where the search results are displayed.

[2016-12-29 16:33] onebenclark opened #80 "Tracking in Ctrl F window."
We would like to get data from the Search and Replace window that comes up when you use Ctrl F.

[2016-12-29 16:36] onebenclark opened #81 "Receiving data from behind Ctrl F window."
When the Ctrl F window is visible we can still receive data from text underneath it. This is undesirable.

[2016-12-29 21:08] shbonita opened #82 "Unit Testing Framework"
The goal is to have some automated unit testing for iTrace.

@nickiovino will start by documenting in the wiki, tests that can be automated and those that will be harder to automate.

[2017-01-05 17:14] shbonita opened #83 "track types of variables"
We need to have eye gaze recorded on types.

[2017-01-05 17:20] shbonita opened #84 "track method parameters in method calls"

[2017-01-05 17:25] jennalwise commented on #84
`                	Display.getDefault().asyncExec(new Runnable(){
                		public void run(){
                		for (ISolver solver : activeSolvers) {
                			solver.process(response);
                		}
                		}
                	});`

For example, new Runnable() and all the code after it is considered a call by .asyncExec and none of the AOIs inside of it are tracke

[2017-01-05 17:31] jennalwise commented on #84
Need to make sure all variations of anonymous class uses are tracked correctly: [https://docs.oracle.com/javase/tutorial/java/javaOO/anonymousclasses.html](url)

[2017-01-13 17:27] onebenclark commented on #59
Gray out start tracking button while tracking is in progress.

[2017-01-20 18:11] onebenclark opened #85 "iTrace Engine"
Create a server program to interface with the trackers and send the data to the iTrace plugin as a client.

[2017-01-22 00:20] onebenclark commented on #59
This issue's branch has been merged.

[2017-01-22 00:20] #59 closed

[2017-01-22 00:21] onebenclark commented on #32
This issue's branch has been merged.

[2017-01-22 00:21] #32 closed

[2017-01-27 17:18] Zeeker117 commented on #73
A workaround to swing not scaling is to take the resolution of the screen and just setting the size of objects to whatever percentage you want. A problem I encountered with this is the font doesn't scale with the size so you will have to manually set every element to this size.

[2017-01-27 19:45] #5 closed

[2017-01-27 19:45] #13 closed

[2017-01-27 19:45] #46 closed

[2017-01-27 19:46] #60 closed

[2017-01-27 19:46] #68 closed

[2017-01-31 16:21] onebenclark opened #88 "Develop Visualization Suite"

[2017-02-08 17:29] onebenclark opened #89 "JAXB xml writing and reading."
Currently we are writing our xml entries manually. JAXB would allow us to serialize classes to and from xml. This would make this process much easier especially when reading from preexisting data.

[2017-03-09 18:31] shbonita commented on #72
@onebenclark @jennalwise take a look at how to get this working on the new computers in 315. The TX-300 and the X3-120 both need iTrace running and stable.

[2017-04-13 15:12] onebenclark commented on #72
iTrace is working with the TX300

[2017-04-13 15:17] shbonita commented on #72
@onebenclark could you give us a short description of what was needed to be done to make this work?

[2017-04-13 15:26] onebenclark commented on #72
https://github.com/YsuSERESL/iTrace/blob/master/jni/TobiiTracker/TOBIITRACKER.README.md

[2017-04-13 15:28] shbonita commented on #72
see commit 5db1eab for what was changed.

[2017-04-13 15:31] shbonita commented on #72
I believe this issue can safely be closed.

[2017-04-13 15:32] onebenclark commented on #72
Works for me.

[2017-04-13 15:32] #72 closed

[2017-04-13 15:40] onebenclark commented on #73
I read somewhere that the Swing scaling issues will be fixed with Java 9. I cannot find it now though.

[2017-05-10 16:36] dtpatrick0706 commented on #89
Upon researching JAXB i have found a few options. The EclipseLink/MOXy iteration of JAXB will probably be our best bet. This will allow us to map to both JSON and XML. The marshaling and marshaling is fairly simple to implement. Below are the links to both MOXy examples and JAXB info.

https://wiki.eclipse.org/EclipseLink/Examples/MOXy
http://www.oracle.com/technetwork/articles/javase/index-140168

[2017-05-17 17:45] jennalwise commented on #63
Duplicate of issue #45

[2017-05-17 17:45] #63 closed

[2017-05-25 21:08] jennalwise commented on #43
- Does "how many gaze records were discarded and not a fixation" refer to the number of fixations removed because they were too short (ie. below the duration threshold provided in the preferences)?
- Do you want the filter statistics at the bottom of the exported XML/JSON files or in the beginning under the environment information (with the screen size)?

[2017-05-26 02:01] shbonita commented on #43
- Yes to first question
- You can put them in the beginning but have them in their separate tags. Maybe fixation_stats tag

[2017-05-26 03:16] shbonita commented on #88
Features needed
- Heatmap: use more pastel colors on a white background (less saturated)
- 7 to 9 colors at most (or rainbow colors). Hard to differentiate between more than that.
- Have pictures of words near the line on the gaze skyline. maybe the method names on the skyline.
- Needs to work on fixations.
- The right side skyline (scale only as needed and not to all the lines on the left)
- Have

[2017-05-26 12:01] jennalwise commented on #43
Do you want this information exported with the raw gazes fixation overlay and with the fixations (so in both files you ask me to export from #45 )?

[2017-05-26 13:27] shbonita commented on #43
the fixation stats can put just in the fixation file. no need for duplicating in raw gazes.

[2017-05-26 13:38] onebenclark commented on #88
Can you explain "The right side skyline (scale only as needed and not to all the lines on the left"?

For the words on the skyline we can have popups come up when you hover over the line.

[2017-05-31 20:43] shbonita opened #92 "track parts of the for loop elements"
right now we are not tracking which part of the for loop parts are being looked at. add this into the data that is being tracked. for e.g. was the initialization section looked at vs. the increment?  the type should indicate what is being stored.

[2017-05-31 22:42] shbonita commented on #88
More Features:
Program analysis layer (identify regressions, identify scan pattern, identify coded behaviors (story order) vs. (linear order).  A list of the coded behaviors are listed at
http://emipws.org/wp-content/uploads/2015/02/emip2013_report.pdf
(see revised coding scheme on page 36 of the pdf)

[2017-05-31 22:44] shbonita commented on #88
@onebenclark just ignore that one. I will remove it.

[2017-06-08 21:47] shbonita opened #93 "investigate using srcML on the fly instead of the AST to map gaze to SCEs"
Instead of using the AST to get a hierarchy of source elements, this issue suggest we run srcML on the fly. This causes us to have a dependency on srcML library. This needs to be tested to determine if it is feasible and fast enough on the fly

check documentation at [http://www.srcml.org/doc/java_srcML.html](http://www.srcml.org/doc/java_srcML.html)

[2017-06-08 21:50] shbonita opened #94 "Data format needed"
Need to come to agreement on the data format that will be used to store eye tracking data generated from sessions.

The change of the data format will impact fixation filters, visualization components, and anything else that uses the fixation and raw gaze data output by iTrace core.

[2017-06-08 21:57] shbonita opened #95 "On-the-fly error correction"
This is a new proposed feature - The ability to do on-the-fly error correction of eye tracking data.

Tensorflow could be used to train a model that auto corrects chunks of gazes based on a certain trajectory.

This issue needs machine learning models + good heuristics and should work on the fly.

A testing framework should also be developed.  How do we validate our approach?

[2017-06-10 15:54] shbonita commented on #88
each of the above features should be a separate issue.

[2017-06-10 15:55] shbonita commented on #80
related to #81

[2017-06-10 16:08] shbonita opened #96 "separate iTrace core repo from iTrace Eclipse plugin"
To keep things modular, we decided to have separate repos for each major product. This means we should separate the iTrace core from the plugins.

After the engine is complete enough to be usable, here are couple of options to do the above.

1. Leave iTrace repo as is as legacy. Create a new repo iTraceCore for engine stuff. Create a new repo iTraceEclipse for Eclipse plugin stuff. Preseve history

[2017-06-10 22:52] mjdecker commented on #96
You could also do 1 and make it a super-repository.  The other repos would be submodules.  That way if someone wants everything, they can do a recursive clone on the super-repository.  boost does something similar.

[2017-06-21 18:13] shbonita commented on #85
needs to use cmake for the engine.

[2017-06-22 18:36] cHardaway opened #97 "View for visualizing multiple dev's sessions"

[2017-06-22 18:36] cHardaway opened #98 "Preferences for visualization"

[2017-06-22 18:41] cHardaway opened #99 "Add Playback controls capability"

[2017-06-22 18:42] cHardaway opened #100 "Add Search capability"
most looked at methods, etc...

[2017-06-22 18:43] cHardaway opened #101 "Add pictures of words near the skygaze line"
Maybe the method names on the skyline.

[2017-06-22 18:43] cHardaway opened #102 "Add duration to the fixation gaze map"

[2017-06-22 18:45] cHardaway opened #103 "Change duration to show as an increasing circle in dynamic gaze map"

[2017-06-22 18:46] cHardaway opened #104 "Add program analysis layer"
identify regressions, identify scan pattern, identify coded behaviors (story order) vs. (linear order). A list of the coded behaviors are listed at http://emipws.org/wp-content/uploads/2015/02/emip2013_report.pdf
see revised coding scheme on page 36 of the pdf

[2017-06-27 14:02] shbonita opened #105 "provide a global view of the recording for a single participant"
A global view of what the participant looked at is needed.

[2017-06-27 14:05] shbonita opened #106 "add fixation display capability"
The gazes drawn should be fixations on tokens.

[2017-06-27 14:06] shbonita commented on #98
7 to 9 colors at most. It is hard to differentiate between more. Look into color schemes or having less saturated colors.

[2017-06-28 16:50] shbonita opened #107 "have the build working on the mac"

[2017-06-28 20:54] cHardaway commented on #81
Should be fixed in branch iss81.  Gazes are tossed if they fall onto any pop up window consisting of one composite.

[2018-11-01 18:44] #2 closed, assigned to nobody

[2018-11-01 18:51] #6 closed, assigned to nobody

[2018-11-01 18:51] #4 closed, assigned to nobody

[2018-11-01 18:52] #7 closed, assigned to nobody